<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <!-- <button [class.buttons]="!inactive" [disabled]="inactive" (click)="inactive = true"*ngFor= "let button of buttons">{{button.name}}</button> <br> -->
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = true">Copper</button> <br>
   <button (click)="activate()">Activate/Deactivate Buttons</button>
</div>
